# Playwright
node_modules/
/playwright/.cache/
/playwright/.auth/
# Test artifacts
/artifacts/
# Environment settings
.env
# Ignore all files inside the download folder
src/files/download/*
# Do not ignore .ts files inside the download folder
!src/files/download/*.ts
# Ignore all files inside the visual/**/local folder
src/screenshots/ui/visual/**/local/*