# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
# Test artifacts
/artifacts/
# Environment settings
.env
# Development playground test
src/tests/dev/
src/tests/**/dev.spec.ts
# Ignore all files inside the download folder
src/files/download/*
# Do not ignore .ts files inside the download folder
!src/files/download/*.ts
# Ignore all files inside the visual/**/local folder
src/screenshots/ui/visual/**/local/*